<div class="byline author vcard">
    <img alt="{{ displayName }}" src="{{ gravatar }}" class="avatar avatar-51 photo" height="51" width="51">
    <cite class="fn">{{#google}}<a rel="author" href="{{this}}" class="url">{{/google}}{{ displayName }}{{#google}}</a>{{/google}}</cite>
    {{#twitter}}<p><a href="https://twitter.com/{{ this }}">@{{this}}</a></p>{{/twitter}}
</div>
